apiVersion: apps/v1
kind: Deployment
metadata:
  name: major-proj-frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: upwarpiyush/dsa-tracker-frontend:36